<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Here you will find a list of formulas for the areas and<br>
        perimeters of several basic 2-dimensional shapes.
    </p>
    <hr>
    <p>
      <ul>
        <li>Square
          <ul class="formula-list">
            <li>area = side * side</li>
            <li>perimeter = 4 * side</li>
          </ul>
        </li>
        <li>Circle
          <ul class="formula-list">
            <li>area = PI * radius * radius</li>
            <li>Perimeter = 2 * PI * radius</li>
          </ul>
        </li>
        <li>Rectangle
          <ul class="formula-list">
            <li>area = height * width</li>
            <li>perimeter = 2 * height + 2 * width</li>
          </ul>
        </li>
        <li>Parallelogram
          <ul class="formula-list">
            <li>area = base * height</li>
            <li>perimeter = 2 * (base + height)</li>
          </ul>
        </li>
        <li>Triangle
          <ul class="formula-list">
            <li>area = 1/2 * base * height</li>
            <li>perimeter = side1 + side2 + side3</li>
          </ul>
        </li>
      </ul>
    </p>
    <div style="text-align: center;">
      <p>Return to the <a href="/">site index</a>.</p>
    </div>    
  </body>
</html>
